<div class="container">
    <div class="row">
        <div class="col-md-6 offset-lg-3">
            <div class="card w-100 mt-5">
                <div class="card-body">
                    <%= form_with(model: point, local: true) do |form| %>
                    <% if point.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(point.errors.count, "error") %> prohibited this event from being saved:</h2>

                        <ul>
                            <% point.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>
                    <div class="form-group">
                        <%= form.text_field :name, class: 'form-control', placeholder: 'Nombre del Punto' %>
                        <i class="iconinput fas fa-map-marker-alt"></i>
                    </div>
                    <div class="form-group">
                        <%= form.text_field :point_value, class: 'form-control', placeholder: 'Valor del Punto' %><i class="iconinput fas fa-dollar-sign"></i>
                    </div>
                    <div class="actions">
                        <%= form.submit "Crear Punto", class: 'col-md-12 btn btn-primary' %>
                        <% end %>
                    </div><br>
                    <div>
                        <%= link_to 'Atras', points_path, class: 'col-md-12 btn btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
    </div>