<div class="container">
    <div class="row">
        <div class="col-md-6 offset-lg-3">
            <div class="card w-100 mt-5">
                <div class="card-body">
                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Ingresa el Email' %>
                        <i class="iconinput fas fa-envelope-square"></i>
                    </div>
                    <div class="actions">
                        <%= f.submit "Enviarme la Password al Email", class: 'col-md-12 btn btn-primary' %>

                    </div><br>
                    <% end %>
                    <div>
                        <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>